* text=auto eol=lf

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.ico binary
*.icns binary
*.ttf binary
*.otf binary
*.xcf binary
*.pdf binary
*.zip binary
*.skin binary
*.knob binary
