[submodule "libs/vst3sdk"]
	path = libs/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library.git
[submodule "libs/surgesynthteam_tuningui"]
	path = libs/surgesynthteam_tuningui
	url = https://github.com/surge-synthesizer/surgesynthteam_tuningui.git
