[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library.git
[submodule "libs/surgesynthteam_tuningui"]
	path = libs/surgesynthteam_tuningui
	url = https://github.com/surge-synthesizer/surgesynthteam_tuningui.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
